<h2><span class="elevaderfont">Here are your elevaders for today, motherfucker</span></h2>

<div class="row">
  <% @elevators.each do |elevator| %>
    <div class="medium-4 columns" id="elevator-<%= elevator.id %>">
      <div class="card">
        <div class="image">
          <%= link_to image_tag(elevator.elevator.medium_elevator, alt: "#{elevator.building_name}"), elevator_path(elevator) %>
        </div>
        <div class="content">
          <span> <%= "#{elevator.building_name}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @elevators %>

<div class="row">
  <%= link_to "Add Elevator", new_elevator_path, class: "button" %>
</div>
