<h1>Hello!</h1>

<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
  <% @elevators.each do |elevator| %>
    <div class="medium-4 columns" id="elevator-<%= elevator.id %>">
      <div class="card">
        <div class="image">
          <%= link_to image_tag(elevator.elevator.medium_elevator), elevator_path(elevator) %>
        </div>
        <div class="content">
          <span> <%= "#{elevator.building_name}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @elevators %>

<div class="row">
  <%= link_to "Add Elevator", new_elevator_path, class: "button" %>
</div>
