<h1>Hello!</h1>

<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
<% @elevators.each do |elevator| %>
  <div class="medium-4 columns" id="elevator-<%= elevator.id %>">
    <div class="profile-card">
      <img src="<%= elevator.elevator.large_elevator %>">
      <div class="profile-info inline-list">
        <li><%= link_to "#{elevator.building_name}", elevator_path(elevator) %></li>
        <% if current_admin || current_user == elevator.user %>
          <li><%= button_to "Delete", elevator, method: :delete, class: 'button tiny alert' %></li>
      <% end %>
      </div>
    </div>
  </div>
<% end %>


<%= paginate @elevators %>
<%= link_to "Add Elevator", new_elevator_path %>
<div class="row"
