<h1>Hello!</h1>

<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
  <% @elevators.each do |elevator| %>
      <div class="medium-4 columns" id="elevator-<%= elevator.id %>">
        <div class="card">
          <div class="image">
            <%= link_to image_tag(elevator.elevator.medium_elevator, alt: "#{elevator.building_name}"), elevator_path(elevator) %>
          </div>
          <div class="content">
            <span> <h2><%= "#{elevator.building_name}" %> </h2></span>
            <span>
              <%= render 'elevators/stars', locals: { gold: elevator.average_rating, silver: 5 - elevator.average_rating } %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= paginate @elevators %>

<div class="row">
  <%= link_to "Add Elevator", new_elevator_path, class: "button" %>
</div>
