<div class="elevaderfont text-center"><h2></h2></div>

<div class="row">
  <% @elevators.each do |elevator| %>
      <%= link_to elevator_path(elevator) do %>
        <div class="medium-4 columns elevator-card" id="elevator-<%= elevator.id %>">
          <div class="card elevator-card">
            <div class="image">
              <%= image_tag(elevator.elevator.medium_elevator, alt: "#{elevator.building_name}") %>
            </div>
            <div class="content text-center">
              <div> <%= "#{elevator.building_name}" %></div>
              <div class="stars">
                <%= render 'elevators/stars', locals: { gold: elevator.average_rating, silver: 5 - elevator.average_rating } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<%= paginate @elevators %>

<div class="row">
  <%= link_to "Add Elevator", new_elevator_path, class: "button" %>
</div>
