<div class="showtitle-container row">
  <div class="showtitle-item">
    <div class="elevaderfont">
      <div class="building-name"><h1><%= @elevator.building_name %></h1></div>
      <div clas="building-rating">
        <%= render 'elevators/stars', locals: { gold: @elevator.average_rating, silver: 5 - @elevator.average_rating } %>
      </div>
    </div>
  </div>
    <% if current_user == @elevator.user || current_admin %>
      <div class="showtitle-item">
        <li> <%= link_to "Edit", edit_elevator_path(@elevator), class: "button tiny"%> </li>
      </div>
      <div class="showtitle-item">
        <li> <%= link_to "Delete", @elevator, method: :delete, data: { confirm: "Are you sure you want to delete this elevator?" }, class: "button tiny alert" %> </li>
      </div>
    <% end %>
</div>

<div class="card large-12 columns">
  <div class="small-8 columns inline-list">
    <img src="<%= @elevator.elevator.large_elevator %>">
    <div class="large-6 columns">
      <h3 class="elevaderfont">Address:</h3>
      <li> <%= @elevator.address %> </li>
      <li><%= @elevator.city %>, <%= @elevator.state %> <%= @elevator.zipcode %> </li>
    </div>
  </div>
  <div class="small-3 columns author">
    <p>Created by: <%= @user.username %></p>
    <img src="<%= @user.avatar.small_avatar %>">
  </div>
</div>

<div class="row">
  <% if current_user %>
    <%= form_for [@elevator, @review] do |f| %>
      <div class="small-2 medium-4 large-6">
        <%= f.label :rating %>
        <%= f.select :rating, options_for_select(@rating) %>
      </div>
        <%= f.label :body %>
        <%= f.text_area :body %>
        <%= f.submit "Create Review", class: "button tiny success" %>
    <% end %>
  <% end %>
</div>

<div class="row reviews">
  <% @reviews.each do |review| %>
    <div class="small-4 columns end" id="review-<%= review.id %>">
      <div class="vcard">
        <div class="content">
          <div class="small-block-grid-2">
            <img src="<%= review.user.avatar %>">
          </div>
          <div class="rating column">
            <p> by: <%= review.user.username %> </p>
            <span class ="title"> Rating: <%= review.rating %></span>
            <p> <%= review.body %> </p>
          </div>
        </div>
        <div class="action row">
          <div class="voting">
            <div class="upvote small-4 columns">
              <%= form_tag review_votes_path(review), method: :post do  %>
              <%= hidden_field_tag :vote, "1" %>
              <%= submit_tag 'Up', class: 'vote', id: "upvote", type: :image, :src => image_path("up.png") %>
              <% end %>
            </div>
            <div class="vote-total small-4 columns">
              <%= review.total_votes %>
            </div>
            <div class="downvote small-4 columns">
              <%= form_tag review_votes_path(review), method: :post do  %>
              <%= hidden_field_tag :vote, "-1" %>
              <%= submit_tag 'Down', class: 'vote', id: "downvote", type: :image, :src => image_path("down.png")%>
              <% end %>
            </div>
          </div>
          <% if current_user == review.user %>
          <%= link_to "Edit Review", edit_review_path(review), class: "button tiny" %>
          <% end %>
          <% if current_user == review.user || current_admin %>
          <%= link_to "Delete Review", review, method: :delete, class: "button tiny alert"%>
          <% end %>

      </div>
    </div>
  </div>
  <% end %>
</div>

<div id ="paginator">
  <%= paginate @reviews %>
</div>
