<h1> Building Name: <%= @elevator.building_name %></h1>
<img src="<%= @elevator.elevator.large_elevator %>">

<h3> Address: <%= @elevator.address %>  </h3>
<h3> <%= @elevator.city %>, <%= @elevator.state %> <%= @elevator.zipcode %> </h3>
<h4> Created by: <%= @elevator.user.username %></h4>
<img src="<%= @elevator.user.avatar.medium_avatar %>">

<div class = "row">
  <%= link_to "Homepage", elevators_path %>
</div>

<div class="elevator_buttons">
  <% if current_user == @elevator.user || current_admin %>
      <div class = "row">
        <%= link_to "Edit", edit_elevator_path(@elevator)%>
      </div>

      <div class = "row">
        <%= link_to "Delete", @elevator, method: :delete, data: { confirm: "Are you sure you want to delete this elevator?" } %>
      </div>
  <% end %>
</div>

<% if current_user %>
  <%= form_for [@elevator, @review] do |f| %>
    <div class = "row">
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(@rating) %>
    </div>

    <div class = "field">
      <%= f.label :body %>
      <br />
      <%= f.text_area :body %>
    </div>

    <div class = "actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<div class="reviews">
  <% @reviews.each do |review| %>
    <div class="review" id="review-<%= review.id %>">
      <p> Rating: <%= review.rating %> </p>
      <p> Description: <%= review.body %> </p>
      <p> Posted by: <%= review.user.username %></p>
      <div class="review_buttons">
        <% if current_user == review.user %>
          <%= link_to "Edit Review", edit_review_path(review) %>
        <% end %>
        <% if current_user == review.user || current_admin %>
          <%= link_to "Delete Review", review, method: :delete %>
        <% end %>
      </div>

      <div class="voting">
        <div>
          <%= form_tag review_votes_path(review), method: :post do  %>
            <%= hidden_field_tag :vote, "1" %>
            <%= submit_tag 'Up', class: 'vote', id: 'upvote' %>
          <% end %>
        </div>

        <div class="vote-total">
          <%= review.total_votes %>
        </div>

        <div class="downarrow">
          <%= form_tag review_votes_path(review), method: :post do  %>
            <%= hidden_field_tag :vote, "-1" %>
            <%= submit_tag 'Down', class: 'vote', id: 'downvote' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @reviews %>
</div>
