<h1> Building Name: <%= @elevator.building_name %></h1>
<h3> Address: <%= @elevator.address %>  </h3>
<h3> <%= @elevator.city %>, <%= @elevator.state %> <%= @elevator.zipcode %> </h3>
<h4> Created by: <%= @elevator.user.username %></h4>

<div class = "row">
  <%= link_to "Edit", edit_elevator_path(@elevator)%>
</div>

<div class = "row">
  <%= link_to "Delete", @elevator, method: :delete, data: { confirm: "Are you sure you want to delete this elevator?" } %>
</div>

<div class = "row">
  <%= link_to "Homepage", elevators_path %>
</div>

<%= form_for [@elevator, @review] do |f| %>

  <div class = "row">
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select(@rating) %>
  </div>

  <div class = "field">
    <%= f.label :body %>
    <br />
    <%= f.text_area :body %>
  </div>

  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>

<% @reviews.each do |review| %>
  <p> Rating: <%= review.rating %> </p>
  <p> Description: <%= review.body %> </p>
  <p> Posted by: <%= review.user.username %></p>
  <%= link_to "Edit Review", edit_elevator_review_path(review.elevator, review) %>
  <%= link_to "Delete Review", elevator_review_path(review.elevator, review), method: :delete %>
<% end %>
