<h1> Building Name: <%= @elevator.building_name %></h1>
<img src="<%= @elevator.elevator.large_elevator %>">

<ul>
  <div class = "inline-list">
    <li> Address: <%= @elevator.address %>  </li>
    <li> <%= @elevator.city %>, <%= @elevator.state %> <%= @elevator.zipcode %> </li>
    <li> Created by: <%= @elevator.user.username %></li>
  </div>
</ul>

<img src="<%= @elevator.user.avatar.medium_avatar %>">


<div class = "large-10 columns">
  <%= link_to "Homepage", elevators_path %>
</div>

<div class="elevator_buttons">
  <% if current_user == @elevator.user || current_admin %>
      <div class = "row">
        <%= link_to "Edit", edit_elevator_path(@elevator)%>
      </div>

      <div class = "row">
        <%= link_to "Delete", @elevator, method: :delete, data: { confirm: "Are you sure you want to delete this elevator?" } %>
      </div>
  <% end %>
</div>

<% if current_user %>
  <%= form_for [@elevator, @review] do |f| %>
    <div class = "row">
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(@rating) %>
    </div>
    <div class = "small-10 columns">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class = "small-12 columns">
      <%= f.submit "Create Review", class: "button tiny success" %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <% @reviews.each do |review| %>
    <div class="medium-6 columns" id="review-<%= review.id %>">
      <div class="card">
        <div class="content">
          <span class ="title"> Rating: <%= review.rating %></span>
          <p> Review: <%= review.body %> </p>
        </div>
        <div class="action">
        <% if current_user == review.user %>
          <%= link_to "Edit Review", edit_review_path(review), class: "button tiny" %>
        <% end %>
        <% if current_user == review.user || current_admin %>
          <%= link_to "Delete Review", review, method: :delete, class: "button tiny alert" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <%= paginate @reviews %>
</div>
