<div class="showtitle-container row">
  <div class="showtitle-item">
    <div class="elevaderfont">
      <div class="building-name"><h1><%= @elevator.building_name %></h1></div>
      <div clas="building-rating">
        <%= render 'elevators/stars', locals: { gold: @elevator.average_rating, silver: 5 - @elevator.average_rating } %>
      </div>
    </div>
  </div>
    <% if current_user == @elevator.user || current_admin %>
      <div class="showtitle-item">
        <li> <%= link_to "Edit", edit_elevator_path(@elevator), class: "button tiny"%> </li>
      </div>
      <div class="showtitle-item">
        <li> <%= link_to "Delete", @elevator, method: :delete, data: { confirm: "Are you sure you want to delete this elevator?" }, class: "button tiny alert" %> </li>
      </div>
    <% end %>
</div>

<div class="row">
  <div class="medium-4 large-6 columns">
    <img src="<%= @elevator.elevator.large_elevator %>">
  </div>
  <div class="medium-2 large-3 columns inline-list" id="address">
    <li> <%= @elevator.address %>, <%= @elevator.city %></li>
    <li> <%= @elevator.state %> <%= @elevator.zipcode %> </li>
  </div>
  <div class="small-3 large-3 columns">
  </div>
  <div class="small-1 medium-1 large-2 columns">
    <img src="<%= @user.avatar.small_avatar %>">
    <p>Created by: <%= @user.username %></p>
  </div>
</div>

<div class="row">
  <% if current_user %>
    <%= form_for [@elevator, @review] do |f| %>
      <div class="small-2 medium-4 large-6">
        <%= f.label :rating %>
        <%= f.select :rating, options_for_select(@rating) %>
      </div>
        <%= f.label :body %>
        <%= f.text_area :body %>
        <%= f.submit "Create Review", class: "button tiny success" %>
    <% end %>
  <% end %>
</div>

<div class="row reviews">
  <% @reviews.each do |review| %>
    <div class="large-12 columns" id="review-<%= review.id %>">
      <div class="card">
        <div class="content">
          <span class ="title"> Rating: <%= review.rating %></span>
          <p> <%= review.body %> </p>
          <p> by: <%= review.user.username %> </p>
        </div>
        <div class="action row">
          <div class="voting small-1 large-2">
            <div class="upvote">
              <%= form_tag review_votes_path(review), method: :post do  %>
              <%= hidden_field_tag :vote, "1" %>
              <%= submit_tag 'Up', class: 'vote', id: "upvote" %>
              <% end %>
            </div>
            <div class="vote-total" style="bottom: 60px;">
              <%= review.total_votes %>
            </div>
            <div class="downvote">
              <%= form_tag review_votes_path(review), method: :post do  %>
              <%= hidden_field_tag :vote, "-1" %>
              <%= submit_tag 'Down', class: 'vote', id: "downvote"%>
              <% end %>
            </div>
          </div>
          <% if current_user == review.user %>
          <%= link_to "Edit Review", edit_review_path(review), class: "button tiny" %>
          <% end %>
          <% if current_user == review.user || current_admin %>
          <%= link_to "Delete Review", review, method: :delete, class: "button tiny alert" %>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div id ="paginator">
  <%= paginate @reviews %>
</div>
