<!DOCTYPE html>
<html>
<head>
  <title>Elevader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <% flash.each do |type, msg| %>
      <div class="flash <%= type %>"><%= msg %></div>
    <% end %>
  </header>

  <% if current_admin %>
    <%= link_to "Admins", admins_path %>
  <% end %>
  <% if current_user || current_admin %>
    <%= link_to "Profile", edit_user_registration_path %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>

  <%= yield %>

</body>
</html>
